# Include any files or directories that you don't want to be copied to your
# container here (e.g., local build artifacts, temporary files, etc.).
#
# For more help, visit the .dockerignore file reference guide at
# https://docs.docker.com/go/build-context-dockerignore/

**/bruno
**/jest*
**/.dockerignore
**/.git
**/.gitignore
**/.vscode
**/*.demo
**/.prettier*
**/docker-compose*
**/compose.y*ml
**/dockerfile*
**/node_modules
**/dist
LICENSE
README.md
